@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;500&display=swap');

$color-background: #172540;
$color-primary: #F2A444;
$color-highlight: rgb(94, 136, 191);

.sidebar {
	border-left: 1px solid #2c3f59;
	height: 100vh;
	padding-left: 36px !important;
	position: sticky;
	top: 0;

	@media (max-width: 959px) {
		padding-left: 0 !important;
		position: relative;
		height: auto;
		border-left: 0;
	}
}

.navigation {
	&__item-link {
		align-items: center;
		display: flex;
		height: 100%;
		padding: 5px 0;
		width: 100%;

		&::before {
			background-image: radial-gradient($color-highlight 0.45px, rgb(23, 37, 64) 0.45px);
			background-size: 9px 9px;
			content: '';
			height: 30px;
			margin-left: -20px;
			margin-right: 10px;
			width: 30px;
		}

		&--active {
			color: $color-primary;
			font-weight: 500;

			&::before {
				background-image: radial-gradient($color-primary 0.45px, rgb(23, 37, 64) 0.45px);
			}
		}
	}

	@media (max-width: 959px) {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		&__item-link {
			padding: 5px 20px 5px 10px;
		}
	}

}
@media (max-width: 959px) {
	.xs-hidden {
		display: none;
	}

	.social-nav {
		justify-content: center;
		margin-bottom: -50px;
	}
}

.avatar {
    border-top: calc(35vh - 350px) solid #fff;
	max-width: 350px;
	margin-bottom: 10px;
	width: 90%;

	@media (max-width: 959px) {
		width: 100%;
		max-width: 450px;
	}
}

.dots {
	background-size: 9px 9px;
	margin-bottom: 50px;
	padding: 20px 60px;
    background-image: radial-gradient($color-highlight 0.45px, rgb(23, 37, 64) 0.45px);
	width: 100%;

	@media (max-width: 959px) {
		padding: 20px 30px;
	}
}

.welcome,
.contact {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;

	@media (max-width: 959px) {
		padding-bottom: 100px;
		padding-top: 100px;
		min-height: auto;
	}
}

.highlight {
	background-color: $color-primary;
	color: $color-background;
	font-weight: bold;
	padding: 0 5px;
}

.swiper-slide {
	opacity: .15;
	transition: opacity .3s;

	&.swiper-slide-active {
		opacity: 1;
	}
}

// General 

p {
	color: #bebebe;
}

h2 {
	&::before,
	&::after {
		color: $color-primary;
		content: '<';
		display: inline-block;
		font-size: 14px;
		font-weight: 800;
		margin-right: 10px;
		transform: translateY(-4px);
	}

	&::after {
		content: '/>';
		margin-left: 5px;
	}
}





.skill-list {
    margin: 0;
    padding: 0;
	display: grid;
    grid-template-columns: repeat(4, 1fr);
	row-gap: 15px;
	column-gap: 5px;

	&__item {
		padding: 0 !important;
		display: flex;
		font-size: 20px;

		svg {
			color: $color-primary;
			margin-right: 10px;
		}

		&::before {
			display: none;
		}
	}

	@media (max-width: 959px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: 449px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.prestashop-icon {
    background: #f2a444;
    border-radius: 50%;
}

// Swiper
